<div>
    <%- include("../encabezado"); %>
</div>

<div>
    <center><h2><%= area.nombre_area%></h2></center>
<br><br>
<% subareas.forEach(datos=>{ %>

    <a href="subarea/<%= datos.id%>">
        <div style="float: left;border: solid;margin-left: 2.5%;margin-bottom: 5%; width: 30%;height: 45%;" >
            <div class="w3-card-4">
                <div style="border: solid 1px;">
                    <img src="../img/subarea/<%= datos.nombre_subarea%>.png" alt="<%= datos.nombre_subarea%>" width="100%" height="100%">
                </div>
                <div class="w3-container w3-center">
                  <center><strong><p><%= datos.nombre_subarea%></p></strong></center>
                </div>
            </div>
        </div>
    </a>

<% }) %>
</div>
